*{
     margin:0;
     padding:0;
     box-sizing: border-box;
     font-family:'Zilla Slab', serif;
}

.center{
    max-width:1100px;
    margin:0 auto;
    padding:0 3%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile{
    display: none;
}
header{
    background-color: rgb(242, 250, 249);
    padding:20px 0;
    border-bottom:1px solid rgb(200,200,200);
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: normal;
    font-size: 22px;
}

.menu{
    width: 80%;
    text-align: right;
}

.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.6s;
    
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color:white;

}


/*
Section Main
*/

section.main{
      background-image: url('img/hero-bg-border.jpg');
      padding: 70px 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;

}

.main__cta{
    width: 500%;
    margin: 50px 0;
    text-align:center;

}

.main__cta h2{
    color: #16507b;
    font-size: 40px;
}


.main__cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;

}

.main__cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color:  white;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor:pointer;
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferenciais-single{
    border-radius: 10px;
    background-color:whitesmoke;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px ;
}

.diferenciais-single i{
    color: #124265;
    font-size: 23px;
}

.diferenciais-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 16px;
}

.diferenciais-single p{
    color: grey;
    font-size: 14px;
    line-height: 25px;
}


section.about-us{
    padding: 70px 0;
    background:#b3b1b11e;
}

.call-about{
    width: 100%;
    text-align: center;
}

.call-about h2{
    color: #124265;
    text-transform: uppercase;
}

.call-about p{
    font-size: 13px;
    color: grey;
    margin: 10px 0;
}

.Content-about{
    display: flex;
    flex-wrap: wrap;
}

.Content-about p{
    width: 48%;
    margin-right: 2%;
    color: #444444;
}

.Content-about span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;

}

.Content-about i{
    color:#10252e; 
}

section.conquistas{
    padding: 20px 0;
}
.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #0a0c0a;
}

.conquista-single h2{
    color: rgb(81, 95, 105);

}
 
.conquista-single h2{
    font-size: 30px;
}

.conquista-single img{
    max-width: 180%;

}

.conquista-single img{
    filter: grayscale(100%);
    transform:scale(1,1);
    transition: 1s;
}

.conquista-single img:hover{
    filter: grayscale(0);
  transform:scale(1.1);
}


.menu-itens{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom:2px solid blue;
    display: block;
    opacity: 0;
    transition: 1s ;
}

.menu-itens.show{
    opacity: 1;
    
}

.menu-itens.hidde{
    opacity: 0;
    
}


.menu-itens a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

section.about-family{
    padding: 30px 0;

}

.about-family-img{
   width: 100%;
   margin-left: 50px;
   margin-top: 15px;
   max-height: 500px;
   max-width: 380px;
   padding: 10px;
   align-items: center;
}

.about-family-img img{max-width: 100%}

.about-family-content{
    width: 50%;
    padding: 20px;
    margin-bottom: 1rem;
    margin: 0 1rem;
    position: relative;
}

.about-family-content h2{
    color:#074d76;
    margin-bottom: 30px;
    margin-top: 15px;  
    
}

.about-family-content p{
    color:#444444;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    

}

section.Testimony{
    padding: 50px 0;
    background:#bbbbbb2c;
}

section.Testimony .Testimony-call{
    text-align: center;

}

.Testimony-call h2{
    color: #12598b;
    text-transform: uppercase;
}

.Testimony-call p{
    color:#444444;
    margin: 3rem;
    font-size: 15px;
}
 .carrosel{
     display: flex;
 }

.carrosel-single{
    width:31%;
    margin-right: 2%;
    text-align: center;

}

.carrosel-single-box{
    padding: 20px;
    background-color: #f3f9fd;
    border-radius: 18px;
}

.carrosel-single-box p{
    font-style: italic;
    color:#4b4b44;
    font-size: 16px;
  
}

.carrosel-single-box i{
    color:#c9e3f5;
    font-size: 19px;
    padding:0 8px;
}
.carrosel-single img{
    width: 20%;
    height: 17%;
    display: inline;
    margin: 10px 0;
    border-radius: 50%;

}

@media screen and (max-width: 768px) {
    .diferenciais-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .menu{
        display: none;
    }

    .logo{
        width: 20%;
    }

    .menu-mobile{
        width: 80%;
        text-align: right;
        display: block;
    }

    .menu-mobile i{
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }

    .Content-about  p{width: 100%; margin-bottom: 20px ;}
    
}